<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AttributeTypes</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>0603FAB8-2053-4A7F-A01F-F825B687AB6B</string>
			<key>name</key>
			<string>Objective</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>9515BBFA-A1B9-43E4-BBDB-D946C8C2FD54</string>
			<key>name</key>
			<string>Skill</string>
		</dict>
	</array>
</dict>
</plist>
